user.wsdl

<definitions name="testSOAP"
        targetNamespace="http://php2.local"
        xmlns:tns="http://php2.local/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:ns="http://php2.local/types"

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

    <types>
        <xsd:schema targetNamespace="http://php2.local/types"
                   xmlns="http://php2.local/types">
            <!--elementFormDefault="qualified"-->
            <!--xmlns:tns="http://schemas.xmlsoap.org/wsdl/"-->
            <!--xmlns:xs="http://www.w3.org/2001/XMLSchema"-->
            <!--xmlns="http://php2.local/"-->
            <!--targetNamespace="http://php2.local/">-->

            <xsd:complexType name="TUser">
                <xsd:sequence>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="lastname" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="bday" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="tel" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="pasport" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TuserList">
               <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="user" type="ns:TUser" />
               </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="SendRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userList" type="ns:TuserList" />
                     </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SendResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="inf" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getList" type="ns:TuserList"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Сообщения процедуры sendUser -->
    <message name="sendUserRequest">
        <part name="sendRequest" element="ns:SendRequest" />
    </message>
    <message name="sendUserResponse">
        <part name="sendResponse" element="ns:SendResponse" />
    </message>
     <!--Сообщения процедуры getUser-->
    <message name="getUserRequest">
        <part name="getRequest" element="ns:GetRequest" />
    </message>
    <message name="getUserResponse">
        <part name="getResponse" element="ns:GetResponse" />
    </message>

    <!-- Формат процедур к сообщениям -->
    <portType name="UserServicePortType">
        <operation name="sendUser">
            <input message="tns:sendUserRequest" />
            <output message="tns:sendUserResponse"/>
        </operation>
        <operation name="getUser">
            <input message="tns:getUserRequest" />
            <output message="tns:getUserResponse"/>
        </operation>
    </portType>

    <!-- Формат процедур веб-сервиса -->
    <binding name="UserServiceBinding" type="tns:UserServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="sendUser">
            <soap:operation soapAction="http://php2.local/userserver.php" />
            <input>
                <soap:body use="literal" namespace="http://php2.local"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://php2.local"/>
            </output>
        </operation>
        <operation name="getUser">
            <soap:operation soapAction="http://php2.local/userserver.php" />
            <input>
                <soap:body use="literal" namespace="http://php2.local"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://php2.local"/>
            </output>
        </operation>
    </binding>

    <!-- Определение сервиса -->
    <service name="UserService">
        <port name="UserServicePort" binding="tns:UserServiceBinding">
            <soap:address location="http://php2.local/userserver.php" />
        </port>
    </service>
</definitions>